<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.asuka.lease.web.admin.mapper.RoomLabelMapper">

<!--    List<LabelInfo> getLabelInfoList(Long id);-->
    <select id="getLabelInfoList" resultType="org.asuka.lease.model.entity.LabelInfo">
        select id, type, name
        from lease.label_info
        where is_deleted = 0
          and id in (select label_id
                     from lease.room_label
                     where is_deleted = 0
                       and room_id = #{id})
    </select>
</mapper>
