<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.asuka.lease.web.admin.mapper.ViewAppointmentMapper">

<!--    IPage<AppointmentVo> getAppointmentVoPage(Page<AppointmentVo> page, AppointmentQueryVo queryVo);-->
    <resultMap id="AppointmentVoMap" type="org.asuka.lease.web.admin.vo.appointment.AppointmentVo" autoMapping="true">
        <association property="apartmentInfo" javaType="org.asuka.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id property="id" column="apart_id"/>
            <result property="name" column="apart_name"/>
            <result property="phone" column="apart_phone"/>
        </association>
    </resultMap>
    <select id="getAppointmentVoPage" resultMap="AppointmentVoMap">
        select t1.id,
               t1.user_id,
               t1.name,
               t1.phone,
               t1.apartment_id,
               t1.appointment_time,
               t1.additional_info,
               t1.appointment_status,
               t2.id    as apart_id,
               t2.name  as apart_name,
               t2.introduction,
               t2.district_id,
               t2.district_name,
               t2.city_id,
               t2.city_name,
               t2.province_id,
               t2.province_name,
               t2.address_detail,
               t2.latitude,
               t2.longitude,
               t2.phone as apart_phone,
               t2.is_release
        from lease.view_appointment t1
                 left join lease.apartment_info t2
                           on t1.apartment_id = t2.id
                               and t2.is_deleted = 0
        <where>
            t1.is_deleted = 0
            <if test="queryVo.provinceId != null and queryVo.provinceId != ''">
                and t2.province_id = #{queryVo.provinceId}
            </if>
            <if test="queryVo.cityId != null and queryVo.cityId != ''">
                and t2.city_id = #{queryVo.cityId}
            </if>
            <if test="queryVo.districtId != null and queryVo.districtId != ''">
                and t2.district_id = #{queryVo.districtId}
            </if>
            <if test="queryVo.apartmentId != null and queryVo.apartmentId != ''">
                and t1.apartment_id = #{queryVo.apartmentId}
            </if>
            <if test="queryVo.name != null and queryVo.name != ''">
                and t1.name like concat('%', #{queryVo.name}, '%')
            </if>
            <if test="queryVo.phone != null and queryVo.phone != ''">
                and t1.phone like concat('%', #{queryVo.phone}, '%')
            </if>
        </where>
    </select>
</mapper>
